<footer class="footer" id="footer">
  <div class="footer__container">
    <div class="footer__container__about">
      <marquee behavior="" direction="right" scrollamount="20">
        <div class="company">
          <div class="header__brand__name__footer">
            <span class="header__brand__name__footer--title">FARMIFY</span>
          </div>
        </div>
      </marquee>
      <div class="footer__container__about--text">
         A platform that bridges the gap between farmers and companies, enabling
        direct contact for selling produce, and addressing the existing
        inefficiencies and challenges in the agricultural supply chain.
        <br><br>
        A platform that revolutionize the way farmers and companies interact and do business in the agriculture sector.
      </div>
    </div>
    <div class="footer__container__contact">
      <div class="footer__container__contact__heading">
        Contact Us
        <svg
          width="68"
          height="1"
          class="u-margin-bottom-very_small"
          style="display: block"
          viewBox="0 0 68 1"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line id="Line 1" y1="0.5" x2="67.0075" y2="0.5" stroke="#FF1515" />
        </svg>
        <svg
          width="101"
          height="2"
          style="display: block"
          viewBox="0 0 101 2"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path id="Line 2" d="M0.00146484 0.994873H100.006" stroke="#FF1010" />
        </svg>
      </div>
      <div class="footer__container__contact__map">
        <a href="" class="footer__container__contact__link">
          <svg
            width="18"
            height="22"
            viewBox="0 0 20 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="el:map-marker">
              <path
                id="Vector"
                d="M10 0C5.8363 0 2.46094 3.71288 2.46094 8.29297C2.46094 9.82467 2.73349 11.4067 3.51562 12.5469L10 22L16.4844 12.5469C17.1948 11.5112 17.5391 9.68035 17.5391 8.29297C17.5391 3.71288 14.1637 0 10 0ZM10 4.80309C11.7519 4.80309 13.1726 6.36585 13.1726 8.29295C13.1726 10.2201 11.7519 11.7828 10 11.7828C8.24807 11.7828 6.8274 10.2201 6.8274 8.29297C6.8274 6.36585 8.24807 4.80309 10 4.80309Z"
                fill="white"
              />
            </g>
          </svg>
          &nbsp; Jaypee Institute of information technology Sector 62 Noida
        </a>
      </div>
      <div class="footer__container__contact__phone">
        <a href="tel:8651484067" class="footer__container__contact__link">
          <svg
            width="18"
            height="22"
            viewBox="0 0 18 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="clarity:phone-handset-solid">
              <path
                id="Vector"
                d="M7.60988 12.6134C8.65362 13.9075 9.91652 14.9067 11.3099 15.5406L13.1949 13.7073C13.2508 13.6603 13.317 13.6351 13.3849 13.6351C13.4527 13.6351 13.519 13.6603 13.5749 13.7073L17.0749 16.4634C17.2078 16.5611 17.3202 16.6951 17.4034 16.855C17.4866 17.0149 17.5383 17.1963 17.5543 17.3847C17.5703 17.5732 17.5502 17.7637 17.4956 17.941C17.4411 18.1184 17.3535 18.2778 17.2399 18.4068L15.5999 20.3868C15.365 20.6704 15.0763 20.8785 14.7596 20.9926C14.4429 21.1067 14.1081 21.1232 13.7849 21.0406C10.561 20.2268 7.58944 18.3209 5.20988 15.5406C2.88312 12.7327 1.27301 9.15994 0.574875 5.25564C0.505908 4.86675 0.520303 4.46269 0.616663 4.0826C0.713024 3.70251 0.888083 3.35929 1.12488 3.0862L2.82488 1.08175C2.93007 0.949622 3.05837 0.848292 3.20015 0.785349C3.34193 0.722406 3.49352 0.699482 3.64358 0.718292C3.79364 0.737103 3.93827 0.797161 4.06664 0.893969C4.19502 0.990778 4.30381 1.12183 4.38488 1.27731L6.71488 5.50009C6.75506 5.56639 6.77676 5.64673 6.77676 5.72925C6.77676 5.81177 6.75506 5.89211 6.71488 5.95842L5.17987 8.21342C5.71267 9.88233 6.54274 11.3853 7.60988 12.6134V12.6134Z"
                fill="white"
              />
            </g>
          </svg>
          &nbsp; +91-675432XXXX
        </a>
      </div>
      <div class="footer__container__contact__mail">
        <a
          href="mailto:sktovisit@gmail.com"
          class="footer__container__contact__link"
        >
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="mail">
              <path
                id="Vector"
                d="M4.09092 17.9998V8.72962L1.93408 6.09945L0 4.63989V16.3639C0 17.2691 0.550195 17.9998 1.2273 17.9998H4.09092V17.9998Z"
                fill="white"
              />
              <path
                id="Vector_2"
                d="M13.9092 18H16.7728C17.4519 18 18.0001 17.2665 18.0001 16.364V4.64014L15.8094 6.31188L13.9092 8.72976V18V18Z"
                fill="white"
              />
              <path
                id="Vector_3"
                d="M4.09085 8.72975L3.79736 5.10761L4.09085 1.64087L8.99992 6.54861L13.909 1.64087L14.2374 4.92044L13.909 8.72975L8.99992 13.6375L4.09085 8.72975Z"
                fill="white"
              />
              <path
                id="Vector_4"
                d="M13.9092 1.641V8.72987L18.0001 4.64015V2.45892C18.0001 0.435899 16.2676 -0.71737 15.0547 0.495882L13.9092 1.641Z"
                fill="white"
              />
              <path
                id="Vector_5"
                d="M0 4.63971L1.88149 6.52074L4.09092 8.72943V1.64055L2.94539 0.495437C1.73039 -0.717909 0 0.435454 0 2.45838V4.63961V4.63971Z"
                fill="white"
              />
            </g>
          </svg>
          &nbsp; farmify@gmail.com
        </a>
      </div>
    </div>
  </div>
  <div class="hr__line"></div>
  <div class="copyright">
    <span class="u-red-text"> Bogus Busters</span>, &#169; 2023 All Rights
    Reserved
  </div>
</footer>
